[2017-11-25 16:03] mansona opened #1 "Replace Select2 with Ember Power Select for the Version Picker"
I wanted to re-instate the Select2 implementation in the new system but https://github.com/iStefo/ember-select-2 is "deprecated in favour of ember-power-select".

We need to re-implement the version picker using http://ember-power-select.com/docs/the-search

[2017-11-25 19:02] #1 closed

[2017-12-08 18:30] mansona opened #4 "Quest: Bring the new Ember based guides-app home"
This refactor of the guides app started as a Proof of Concept implementation of a "Just Ember" version of the Ember Guides and as a result of [discussions on the community slack](https://embercommunity.slackarchive.io/-team-learning/page-85), I would like to thank everyone in #ember-learn for their patience in answering all my questions.

The main design of this system is that all of the source ma

[2017-12-09 05:27] acorncom opened #6 "Use ember-learn-search-components add-on when it is ready"
Helps with #4

I just started extracting the necessary search components from `ember-api-docs` into a separate Ember add-on so that we can share those components between this app and `ember-api-docs`.

An initial WIP PR is up at https://github.com/ember-learn/ember-learn-search-components/pull/1, but when that is done, we'll want to use those components in this app

[2017-12-09 05:28] acorncom commented on #6
@mansona I've updated the main quest issue with a link to this one.

[2018-01-11 13:05] dopin opened #15 "Table of Contents flicks on hover in Japanese"
This happens in Japanese at the moment on a specific condition.

![flickering](https://user-images.githubusercontent.com/11515/34826789-5d4528b6-f71b-11e7-95ce-611ea317e953.gif)

- Firefox 57.0.4 on Mac High Sierra

[2018-01-11 13:08] dopin commented on #4
👍 for using prember 😍

[2018-01-11 17:42] mansona commented on #15
@dopin I think because we are not officially supporting translations (at this moment) it's not something that we are going to fix from our end 😖

what I **can** say is that you can change the CSS in your fork to stop that offset happening on hover, let me know how that goes and we can close this issue 👍

[2018-01-15 03:33] jenweber commented on #4
Notes from reviewing staging at http://emberguides.stonecircle.io/v2.17.0 all the way from the top to bottom

**Blockers** (in my opinion)
- [ ] some self-referential links often don't work because they are missing versions
- [ ] `/current/` ought to be supported, causing a redirect to the latest version, i.e. `https://guides.emberjs.com/current/getting-started/quick-start/`
- [ ] header and foote

[2018-01-15 07:56] mansona commented on #15
Hey @dopin 👋

I tried to move this issue to your fork but it seems like you don't have issues turned on so I can't file an issue. You can turn it on in the settings ([here](https://cl.ly/383435410d3Y/Screen%20Shot%202018-01-15%20at%2007.53.46.png) is what it looks like in my fork)

I want to start filling out some of the issues here so I'm afraid I'm going to have to close this one. Ping me on #-t

[2018-01-15 07:56] #15 closed

[2018-01-15 08:33] dopin commented on #15
@mansona Hi! Thanks! That's fine 👍 I'll tackle this issue after I finish translation 😉

[2018-01-20 18:20] jenweber opened #17 "Create a 404 route"
Instructions for @rwwagner90

We need a catch all if a user enters an invalid route. For now, the 404 route should redirect to https://emberjs.com/404. Our deployment env requires that we have an in-app 404 route, and we can't just redirect to https://emberjs.com/404

[docs](https://guides.emberjs.com/v2.18.0/routing/defining-your-routes/#toc_wildcard-globbing-routes)

There's an ongoing project t

[2018-01-20 21:23] jenweber opened #18 "Migrate header and footer from ember-styleguide"
To Do:
- [x] copy/paste from [css](https://github.com/ember-learn/glimmer-styleguide/blob/a96a0b243420d5e916de0942912d25f34d806aa4/src/ui/styles/main-footer.scss) and [template](https://github.com/ember-learn/glimmer-styleguide/blob/a96a0b243420d5e916de0942912d25f34d806aa4/src/ui/components/main-footer/template.hbs)
- [x] make styling adjustments
- [ ] swap out templates, css, etc with https://git

[2018-01-20 21:28] jenweber commented on #18
Results of integrating ember-styleguide. Top is live website, bottom is my work running locally
![screen shot 2018-01-20 at 4 25 14 pm](https://user-images.githubusercontent.com/16627268/35188155-c7a76dce-fdfe-11e7-9e8c-d7352180c97d.png)

left my work, right current site
![screen shot 2018-01-20 at 4 27 58 pm](https://user-images.githubusercontent.com/16627268/35188162-f06c36fe-fdfe-11e7-919f-5aa0

[2018-01-20 21:46] jenweber commented on #18
Migrated header - top is live, bottom is styling imported from glimmer-styleguide
![screen shot 2018-01-20 at 4 45 32 pm](https://user-images.githubusercontent.com/16627268/35188335-7c6b15ce-fe01-11e7-9f9f-c02fbd6152b4.png)

[2018-01-21 01:18] mansona opened #21 "Line highlighting & code highlighting bugs"
- [x] re-implement the diff system for code highlights
- [ ] ensure things like {{outlet}} are still getting highlighted.
- [ ] extend prism's diff language to diff + js & diff + hbs

[2018-01-22 15:43] mansona commented on #17
I just wanted to add a quick summary of various discussions myself and @rwwagner90 were having about this issue:

I would much prefer this to be implemented using the standard [Error Substate](https://guides.emberjs.com/v2.18.0/routing/loading-and-error-substates/#toc_code-error-code-substates) with some sort of logic in the `error.hbs` that decides to show a "Whoops 404" page or "Unknown error".

[2018-01-22 22:38] jenweber commented on #17
Hey @rwwagner90 , my apologies for the confusion over the 404 page. I was unfamiliar with error substates and didn't actually get the gist of what @mansona was asking for when I wrote up the issue. I still have a lot to learn about Ember, and sometimes I miss things. Consider my initial writeup to be incorrect.

We'll do better next time!

[2018-01-23 00:01] #17 closed

[2018-01-23 16:19] mansona opened #26 "Add meta titles to the guides app"
@rwwagner90 I assigned this to you because you suggested it and you seemed to understand what is needed to be done 👍

The goal of this whole project is to make things functionally **exactly** the same and worry about any more general improvements _after initial release_

To that end we need titles to match current titles, I will point out some examples that may end up being edge cases but if we ge

[2018-01-23 16:29] mansona opened #27 "Title and "edit this page" link is broken on index pages"
Examples: http://emberguides.stonecircle.io/v2.17.0/models/ http://emberguides.stonecircle.io/v2.17.0/

[2018-01-23 16:36] rwwagner90 commented on #26
Yep, I'm definitely down to implement this 😃

[2018-01-26 22:52] #27 closed

[2018-01-27 16:05] jenweber opened #30 "support current url"

[2018-01-27 16:51] jenweber commented on #30
![screen shot 2018-01-27 at 11 49 36 am](https://user-images.githubusercontent.com/16627268/35474159-5ff30300-0358-11e8-8575-946854204017.png)

[2018-01-27 22:07] mansona commented on #30
@jenweber did you want to leave this Issue open to keep track of the discussion around the redirect question/issue? or should that be it's own issue?

[2018-01-27 22:11] mansona commented on #26
these use cases are now fully working 🎉

and now the titles are working perfectly in the fastboot/prember land, thanks to @jenweber's  great work on https://github.com/ember-learn/guides-app/pull/32

[2018-01-27 22:11] #26 closed

[2018-01-27 22:14] mansona opened #33 "Show "Old Guides" notice if you're looking at old guides"
![screen shot 2018-01-27 at 22 13 25](https://user-images.githubusercontent.com/594890/35476857-6371b4ca-03af-11e8-829b-ee5e09c7d596.png)

Simple use case and should be relatively straight forward thanks to https://github.com/ember-learn/guides-app/pull/32

[2018-01-27 22:33] jenweber opened #34 "Testing wishlist"
(other maintainers are welcome to edit this directly)

- [x] recent-ish guides nav by previous-next links
- [x] cookbook nav by previous-next links
- [x] navigation by TOC
- [x] navigation by dropdown
- [x] `current` url works

[2018-01-28 14:12] mansona commented on #4
This quest issue is now **only to keep track of blockers**. All nice-to-have issues related to this upgrade are being tracked on this project: https://github.com/ember-learn/guides-app/projects/2

[2018-01-28 14:12] mansona commented on #34
@jenweber I merged your last PR, does that close this issue? 🤔

[2018-01-28 16:48] jenweber commented on #34
Well, what other things do you check by hand to see if they are working? If this covers all the bases, you can close.

[2018-01-29 15:21] mansona commented on #34
This covers more than what I usually test when I do it manually 😂 or rather I don't tend to test all these things every time I test.

I'll close and we can discuss other testing wishlists at a later stage 👍

[2018-01-29 15:21] #34 closed

[2018-02-07 05:10] rwwagner90 opened #37 "Remove jQuery"
We want to make sure we remove jQuery to cut down on bloat.

[2018-02-09 23:59] acorncom commented on #37
Cross posted from #38

[2018-02-14 07:25] mansona opened #41 "Implement the fix for Prember as used in the Deprecations App"
Context here: https://github.com/ember-learn/deprecation-app/issues/65

[2018-02-15 09:47] mansona opened #42 "Stop ember-algolia from needing ember-browserify so it doesn't cause guides-app to install browserify"
We might be able to get some inspiration here: https://github.com/ember-learn/deprecation-app/issues/56

[2018-02-18 15:41] jenweber opened #43 "use `release` instead of `current` in urls (but still support current)"
To match API docs, we should use `release` in the urls to indicated the latest version. However we should still support current so we don't break untold numbers of bookmarks in everything.

To do
- add release
- write some tests

Wishlist for later PRs:
- if you go to the latest version, it replaces the version # with release
- need to start using release in the API docs and guides :x

[2018-02-18 16:36] jenweber commented on #43
PR https://github.com/ember-learn/guides-app/pull/44

[2018-02-18 16:40] jenweber opened #45 "Add beginner-level details to README and CONTRIBUTING.md"
Need to document some more things if we're going to launch and/or use this in the contributors' workshop

[2018-02-18 16:42] jenweber opened #46 "run ember-a11y testing on the app and address any major issues"
We should ignore anything to do with CSS, as it will be addressed when we merge in Mel's new styling

[2018-02-18 16:57] jenweber commented on #46
[code]

[2018-02-18 17:33] jenweber commented on #46
PR https://github.com/ember-learn/guides-app/pull/47

[2018-02-18 18:19] #43 closed

[2018-02-18 19:02] sivakumar-kailasam commented on #42
@mansona can you raise this in the ember-algolia repo as well?

[2018-02-18 19:03] mansona commented on #42
@sivakumar-kailasam that was essentially my "to-do" item for this once we get to the "post-release" phase (see project)

I'm planning to do this as an actual PR over there 👍

[2018-02-18 20:28] mansona commented on #33
fixed in https://github.com/ember-learn/guides-app/pull/48

[2018-02-18 21:02] #46 closed

[2018-02-21 04:56] jenweber commented on #45
I can help work on this issue!

[2018-03-22 18:04] #6 closed

[2018-03-29 07:42] mansona commented on #4
All tasks that qualify for this Quest issue are now done (yay! 🎉)

We're going to be tracking any more stragglers in this Github project https://github.com/orgs/ember-learn/projects/7 mainly because a lot of the issues left to complete span multiple repos 👍

Great job everyone! We're almost there 🎉

[2018-03-29 07:42] #4 closed

[2018-03-29 08:48] mansona opened #51 "Clarify the expected behaviour of the search on the guides page"
I'm trying to clarify if we only want **guides** results when searching on https://guides.emberjs.com/

I seem to remember that there were some discussions that this is expected behaviour i.e. that you cannot search for API results when you're on the guides. I'm not saying it's the desired behaviour (I know we want to unify all of this) but I'm under the impression that we are **expecting** it to

[2018-03-29 09:51] #33 closed

[2018-03-29 13:33] acorncom commented on #51
That it only shows guides results is expected. Not desired long-term, but needn’t block us from launching. Thanks for checking 🙂

[2018-04-01 13:37] mansona commented on #51
I'm closing this issue because we have actually _clarified_ the plans for the current incarnation of the search in guides 👍 Any future plans can be created as a new set of issues/projects

[2018-04-01 13:37] #51 closed

[2018-05-02 10:07] mansona opened #55 "Add basic meta-data implementation - must include canonical URL"
There are some things that we can do to implement interesting/useful metadata into this application for things like sharing on Twitter, Slack posting etc which we may get "for free" as soon as we look at the metadata 😂

The only **requirement** for this issue to be considered complete is to have *every* page point to the corresponding `/release/` URL in the canonical metadata. This will greatly im

[2018-05-03 10:03] mansona opened #57 "Update links from emberjs.com to `/release/` to avoid extra redirect"
Currently when you go to `/` on this app it automatically redirects you to `/release/` but if we have the power to update links we should link directly to release 💪

[2018-05-04 03:49] sivakumar-kailasam opened #58 "Remove patch versions & 'v' prefix in version dropdown"
The patch version in version selector dropdown has been removed in the api docs so as to avoid confusion when patch releases are made on ember/ember-data. We also did away with the `v` prefix.

We instead used only `majorVer.minorVer` in dropdown and urls.(eg 3.1, 2.18) We also added route support to allow for old urls with patch versions in them to still resolve to the latest patch version of wha

[2018-05-04 09:55] mansona opened #60 "Allow robots to view our site"
Essentially we need to revert this https://github.com/ember-learn/guides-app/pull/59 after the final testing phase is complete

[2018-05-04 10:47] sivakumar-kailasam opened #61 "Diffs don't work in the new app"
Disclaimer: I'm only reporting this, haven't dug into the cause 😅

## [old site](https://guides.emberjs.com/v3.1.0/tutorial/ember-cli/)
<img width="1224" alt="screenshot 2018-05-04 16 16 00" src="https://user-images.githubusercontent.com/604117/39624307-7858fa6c-4fb6-11e8-9c68-84b21e5acdb5.png">

## [new site](https://ember-guides-prod.herokuapp.com/release/tutorial/ember-cli/)
<img width="1224" a

[2018-05-04 11:45] sivakumar-kailasam commented on #61
Covered in #21

[2018-05-04 11:45] #61 closed

[2018-05-04 17:06] jessica-jordan opened #64 "Fix URL of the "Edit" Link on Index Page"
### Current
Currently the `Edit on Github` link on the index page doesn't link to the correct file on Github:

![guidesapp-no-edit-link](https://user-images.githubusercontent.com/8811742/39641107-5af62d8e-4fcd-11e8-9f86-582b1cf40e9a.gif)

### How to reproduce:
- visit https://emberguides.stonecircle.io/release/
- click pencil icon in upper right corner
-> the user is redirected to `https://github.

[2018-05-04 17:14] jessica-jordan opened #65 "Hide dropdown list of the Guides search if there is no search query"
### Current
Currently the dropdown list below the guides search is always shown, even if the search query is empty. See also in comparison to the UI of the legacy guides:

| Guides App | Legacy Guides |
|-|-|
|![guidesapp-neverhidessearch](https://user-images.githubusercontent.com/8811742/39641560-eda39382-4fce-11e8-8604-73b535dd16e6.gif)|![guidesapp-hidesearch](https://user-images.githubuserconte

[2018-05-04 17:37] jessica-jordan opened #66 "Hide / Fix links from deprecated sections of old version pages to the current version page"
### Current
Currently, there are sections (which can be found in older versions of the Guides but which have been deprecated in newer release versions) which contain a link to see the same section in the most recent version of the app. Some of these links are broken and clicking those elements will raise errors in the app. E.g.

[code]

See also e.g.:

| Guides App | Legacy Guides|
|-|-|
|![guides

[2018-05-04 22:41] jessica-jordan opened #67 "Point "home" link in the main navigation to emberjs.com"
Currently, the main link in the navbar is directing to the index page of the Guides app. In contrast the legacy Guides point to the emberjs.com project page:

| Guides App | Legacy Guides |
|-------------|----------------|
|![guidesapp-home-link](https://user-images.githubusercontent.com/8811742/39655821-20215812-4ffc-11e8-8e47-ada9a272db58.gif) |![guidesapp-home-link-legacy](https://user-images.g

[2018-05-06 22:02] jenweber commented on #45
closed with #62

Contributing.md only needs to live on one repo and it might as well be on guides-source instead

[2018-05-06 22:02] #45 closed

[2018-05-16 18:39] jessieay commented on #21
Just found a specific bug. Not sure if it is fixed by existing work that hasn't been deployed yet, but this is what I see:

Guides URL: https://guides.emberjs.com/v3.1.0/tutorial/autocomplete-component/

Diff that is highlighted improperly:
![screen shot 2018-05-16 at 11 34 17 am](https://user-images.githubusercontent.com/601515/40136693-53211996-58fd-11e8-8a86-3a23d9be0bb4.png)

Note that lines 2

[2018-05-17 09:57] mansona commented on #21
@jessieay thanks for the report! It looks like that specific issue is fixed in the new system already. You can see it on our test URL here: https://emberguides.stonecircle.io/release/tutorial/autocomplete-component/#toc_an-integration-test

we should hopefully be swapping this to go live very soon so it should be fixed on the live URL 👍

[2018-05-17 16:02] jessieay commented on #21
@mansona I noticed when running the guides app locally (after making this comment) that the diff highlighting looks different now. Looks nice.

One piece of feedback on the new highlighting is that comments are very hard to read when highlighted in either color.

[2018-05-17 18:25] Stoobaart commented on #64
I will attempt this as my first ever public contribution :D

[2018-05-17 18:28] sivakumar-kailasam commented on #64
@Stoobaart 👋 Go for it!

[2018-05-18 06:22] mansona opened #76 "Make errors in the build (prember related) less noisy so we can see what the issue is"

[2018-05-18 08:44] Stoobaart commented on #64
Hi @sivakumar-kailasam,
I have investigated the issue and found that the problem is the data we get back from the backend, where the value return from "page.currentPage.url" is: 'index/' (The backslash is incorrect). I think that this should be fixed in the backend, so that the get request returns just 'index', unless this is the expected result and pertinent somewhere else this is being used. If

[2018-05-18 09:05] mansona commented on #64
Hey @Stoobaart 👋 thanks for looking into this 🎉

As it turns out we already had the right reference "in the backend" for this model 🎉 if you take a quick look at my PR you will see that I'm just moving over to using the id of the model instead of getting the URL from the Page service.

The Page service is specifically designed to create URLs that will work properly throughout the app, and the whol

[2018-05-18 09:16] mansona opened #80 "Configure heroku prod instance with guides.emberjs.com & setup SSL via ACM"

[2018-05-18 09:32] #66 closed

[2018-05-18 09:32] #76 closed

[2018-05-18 09:32] #64 closed

[2018-05-18 09:53] sivakumar-kailasam commented on #64
@Stoobaart As you can see we haven't levelled up on documenting this app as much as it could be. May be that's something you could help us with as you're going through this app.
In case you'd like to work on something else apart from this, please feel free to reach out to me(slack handle: siva) or anyone from the learning team in #team-learning channel on [slack](https://ember-community-slackin.he

[2018-05-18 10:31] Stoobaart commented on #64
Hi @mansona and @sivakumar-kailasam,

Thanks so much for the answers! I did have a think about using the id key instead of the url key, and wasn't sure this would be the right way to go, as I thought that this would be more appropriate as a refactor in how all of the urls are generated throughout the app (beyond the scope of this ticket). I will make some time to go through the static site readme

[2018-05-18 11:17] mansona commented on #64
@Stoobaart the fact that you are "still really green" is probably a really good reason for us to arrange a pairing session 😂

Firstly it would hopefully help teach you a few things but also you should not undervalue your "beginner mindset". Some of us have been using Ember and building things like this for years and if you say something like "as a new developer I don't understand how X, Y or Z wor

[2018-05-18 13:05] #60 closed

[2018-05-18 13:17] #67 closed

[2018-05-18 14:05] mansona commented on #21
it looks like @jenweber has solved that one 🎉 https://github.com/ember-learn/guides-app/pull/75

[2018-05-18 14:07] #21 closed

[2018-05-18 14:11] mansona commented on #21
@sivakumar-kailasam there was one checkmark on this that is still relevant `ensure things like {{outlet}} are still getting highlighted.` which is related to us using handlebars instead of htmlbars as the language in Prism (there is not yet a htmlbars language 😂)

do you mind if I re-open this to at least keep track?

[2018-05-18 14:13] sivakumar-kailasam commented on #21
I believe I've fixed it. Can you reopen in case it's still an issue

[2018-05-18 14:40] mansona commented on #21
looks like it's working 🎉 ignore me

[2018-05-18 15:13] sivakumar-kailasam commented on #80
Done

[2018-05-18 15:13] #80 closed

[2018-05-18 20:26] mansona opened #85 "Blue/green deploy"
(Be able to swap back to the old app if something goes wrong)

[2018-05-18 20:27] mansona commented on #85
We aren't able to do this because of the nature of the deployment, it will just be a DNS switch 👍

[2018-05-18 20:27] #85 closed

[2018-05-23 04:34] acorncom opened #87 "Nav bar links don’t auto-close nav bar on mobile"
On the new site, when viewing via mobile and tapping a new link (under the nav header), I currently don’t get that “oh wow it’s fast” feeling @mansona was talking about. That’s due to the fact the nav box stays open on route change, leaving me wondering if anything had happened ...

Works great on other links at the bottom of each page though! :+1:

[2018-05-23 10:33] chris-morgan opened #88 "“View quick start guide” link from emberjs.com is broken"
Probably related to #57.

On https://www.emberjs.com/, the “view quick start guide” link goes to https://guides.emberjs.com/current/getting-started/quick-start/ which is a 404; it should be https://guides.emberjs.com/release/getting-started/quick-start/ instead.

If the link was always broken, it should just be fixed; but presuming that it worked once upon a time, a redirect should be added so tha

[2018-05-23 14:21] sivakumar-kailasam opened #97 "Improve color contrast of syntax highlighting in code blocks"
Our code blocks fail on color contrast tests. Especially the code blocks with diff in them.

[2018-05-23 14:30] mansona commented on #88
This has been fixed by #91

Although it's related to #57 it wouldn't be *solved* that, we need to make sure that all **existing** internal links to the guides still work even if we don't have "control" over the source of that link.

That being said @chris-morgan, would you like to help us on #57 but updating the link on the website?

[2018-05-23 14:30] #88 closed

[2018-05-23 14:43] localpcguy commented on #97
I'll take a look at adjusting these colors.

[2018-05-23 14:53] #87 closed

[2018-05-23 19:56] localpcguy commented on #97
First pass, looking for feedback:

HTML/HBS
![image](https://user-images.githubusercontent.com/593240/40447781-b0e69520-5ea1-11e8-8c0b-f702a4e807ec.png)

JavaScript
![image](https://user-images.githubusercontent.com/593240/40447823-ceba240e-5ea1-11e8-926d-03fc6bcbcbcb.png)

[2018-05-23 19:59] sivakumar-kailasam commented on #97
LGTM

[2018-05-23 20:18] #97 closed

[2018-05-24 01:36] chris-morgan commented on #88
Nah, ’fraid I don’t care enough about it at present. Thanks for fixing the more urgent issue, though. ☺

[2018-05-24 05:34] Dhevendhirancs opened #104 "need fixtures"
Fixtures are removed from the guides. I really need it. Otherwise could you please suggest some tutorial to use data from model (same as using fixtures)?

[2018-05-24 05:52] sivakumar-kailasam commented on #104
Thanks for reaching out. Please refer https://guides.emberjs.com/release/tutorial/model-hook/.

In case of issues with the content of guides please file an issue at https://github.com/ember-learn/guides-source/issues/

[2018-05-24 05:52] #104 closed

[2018-05-24 10:46] Stoobaart commented on #65
I have a fix for this, needs to be added to search-input node module. Just chatting to @sivakumar-kailasam, and will raise this pr asap 👍

[2018-05-24 13:57] progand commented on #58
Do you still need any help here?

[2018-05-25 10:00] sivakumar-kailasam opened #118 "Providing an offline experience"
We could provide users with a button that could download content in the background & cache it via service workers so that they can read whatever version of docs they were viewing even when they go offline.

[2018-05-25 10:05] sivakumar-kailasam commented on #118
In the initial versions of api docs we did so automatically but it took up lot of bandwidth which could be bad for emerging markets or for users viewing it on a limited data plan on mobile. Which is why its probably better to allow users to opt in to do so.

[2018-05-25 10:10] mansona commented on #58
@progand yes we would love if you could take a look at this 🎉

If you need any help getting started then reach out to us on the #-team-learning Slack channel, but as this issue is most likely just an update to the Ember app it is likely you can just clone then `npm i` and `npm start` to get started 💪

[2018-05-25 17:03] erlend-sh opened #119 "Any plans to make guides-app multilingual?"
Is multilingual support on the roadmap? The translations themselves are probably harder to pull off than the technical implementation, but I think it's a worthwhile long-term goal.

[2018-05-25 17:26] sivakumar-kailasam commented on #119
@erlend-sh Hope this answers your question, https://discuss.emberjs.com/t/doc-translate-how-can-i-help-translate-ember-js-document-into-chinese/14721/4?u=sivakumar_k

[2018-05-25 17:26] #119 closed

[2018-05-31 17:32] shroy opened #132 "404 error clicking on old-version-warning btn link on v1.10.0"
When navigating to [Views: Inserting Views in Templates v1.10.0](https://guides.emberjs.com/v1.10.0/views/inserting-views-in-templates/), the `VIEW v3.1.0` link returns a **404 error**.

Error message in the response..

`
Error: Ember Data Request GET /content/v3.1.0/views/inserting-views-in-templates/index.json returned a 404
Payload (Empty Content-Type)
`

[2018-06-01 15:32] mansona commented on #132
Hey @shroy 👋 thanks for the report

Right now this is very roughly in the bucket of "expected behaviour" but I agree it's not a great experience at all.

Do you have an expectation of what *you* would have expected to happen instead of what it's doing right now? I would love your feedback because it clearly feels wrong to you right now 🤔

[2018-06-01 16:55] mansona opened #137 "Consider changing the length of the `description` meta-data"
This is a continuation from a conversation I had with @sivakumar-kailasam in #135

Currently, the description is limited to 260 characters because of a default in [ember-meta](https://github.com/shipshapecode/ember-meta) /cc @rwwagner90

The main point of the conversation was this:

[2018-06-01 17:17] shroy commented on #132
Hey @mansona, I should have provided that info! My bad.. 🏸

Visiting the site as someone who is new to Ember, I had expected the link to direct me to an updated version on the topic of **Views: Inserting Views in Templates**; however, given the page no longer exists in new the docs, I can imagine a couple scenarios when clicking that link..

1. The user is directed to the first chapter for the lat

[2018-06-01 19:44] rwwagner90 commented on #137
@mansona I replied in the PR, but 300 is not really a true limit. They typically only display 150 or so, and I read somewhere that 260 was ideal. I can't remember where, but I didn't pull that number out of nowhere.

[2018-06-06 12:21] progand commented on #58
Guys, this is my first PR here so please, check carefully. I hope I correctly understood the issue

[2018-06-06 22:00] shroy commented on #132
@mansona that sounds like a great third option 👍

I would be glad to help with the implementation if some patience is afforded 🙂 I am currently a new hire learning Ember alongside a monolithic codebase, yet could use the extra hands on experience.

[2018-06-07 10:50] mansona commented on #118
So I just did a quick (very unscientific) estimate of how big the payload would be if we decided to download the whole content of the **latest** version on pageload for offline viewing:

[code]

That's not bad 😎

If you wanted to download **all** versions it's even not that terrible, but we could make this optional if people really wanted to have older versions available offline:

[code]

[2018-06-07 12:36] progand commented on #58
@mansona  sorry for misundertanding. I think my latest PR is what you need

[2018-06-10 03:18] #58 closed

[2018-06-13 09:36] sivakumar-kailasam opened #152 "Add a loading template for page transitions"

[2018-06-13 09:37] sivakumar-kailasam commented on #18
We've swapped out the local components with the ones from ember-styleguide

[2018-06-13 09:37] #18 closed

[2018-06-13 11:02] mansona commented on #152
Hey @sivakumar-kailasam just to give you a bit of background on this. There are some internal issues with Fastboot/Prember/Glimmer (wasn't able to track down exactly where the issue was) that were preventing this from working before. There is code in there that should allow it to be turned back on (or maybe it was a branch) but if anyone wants to tackle this they need to be extra careful that it's

[2018-06-13 11:33] sivakumar-kailasam commented on #152
That's a surprise. Wouldn't that have been a big fuss given that this is a common functionality? Or did it have to do with prember?

[2018-07-02 05:26] BryanCrotaz opened #170 "Tests don't run on Windows?"
[code]

[2018-07-02 06:04] sivakumar-kailasam commented on #170
Looks like its possibly because of https://github.com/emberjs/ember-inspector/issues/818. In case you don't have inspector installed feel free to reopen this issue

[2018-07-02 06:04] #170 closed

[2018-07-03 19:08] lupestro opened #174 "Guides have a few hiccups with older versions of Edge."
With the Anniversary Edition of Windows 10, Edge doesn't display the dropdown of the version selector. Clicking the dropdown shows an empty list and the version appears as blank after that. Also, the black background for the example text isn't showing, making the examples hard to read.

Both issues occur on:
[code]

[2018-07-04 00:10] lupestro opened #175 "Guides also have a few hiccups in IE11"
The version drop-down isn't working at all in IE11. Loading the initial page, I saw `Object doesn't support property or method 'includes' ` so I suspect something, (maybe the select addon?) wasn't polyfilled during the build.

IE11 also had a little problem with the "Installing Ember" page. The URL path was "getting-started/" rather than "getting-started/something" (which seems suspicious anyway),

[2018-07-12 17:06] shroy commented on #132
@acorncom I do have an account with that channel 🙂 I'll prompt the discussion with this issue as the reference soon. Thanks!

[2018-07-30 02:52] anotheredward commented on #132
I've been wanting to fix this issue for a while, any progress @shroy ?

[2018-08-15 18:39] shroy commented on #132
@anotheredward @acorncom @mansona - Slack posting can be found [here](https://embercommunity.slack.com/archives/C04KG57CF/p1534353479000100).

Sorry for the wait!

[2018-08-21 08:49] mansona commented on #132
I'm just posting @shroy's slack post

[2018-08-21 08:52] mansona commented on #132
@shroy firstly: I copied the content of your slack posting to this issue before it got swallowed up when we lost history 😖

secondly: no need for any apologies! we're all busy people and it can sometimes be hard to find time for open source stuff when we've got full-time jobs that aren't just paying us to do open source 100% of the time 😂 (that would be lovely tho)

[2018-08-23 16:58] samselikoff opened #201 "Create a test that verifies search is working"
Ideally this is high-level, and ignorant of the implementation details (like Algolia).

If we can use an acceptance test in this repo that hits the actual Algolia endpoint, that would be ideal. I'm not sure if this can run from Travis, in containers etc.

If not, we'll have to think of something else.

[2018-08-23 17:28] rtablada commented on #201
I talked to some friends (contributors to Webdriver and Cypress) about the best way to do smoke tests for things like guide navigation and search.

Based on me saying we have elements to click on and that we don't care about cross browser testing:

I think in this direction the best/easiest thing to do would be to have a small node test project that is:

* Puppeteer
* Qunit

Then make it a travis

[2018-08-23 17:31] rtablada commented on #201
I think the flow that we'd want to test is:

* Visit `https://emberjs.com`
* Click "Docs" in nav
* Assert dropdown shows
* Click "Guides" in dropdown
* Assert url == `guides.emberjs.com`
  * Maybe extra assertions on stuff loading on the page?
* Type something in search (what's something we know should be in each release for a while)
* Assert search popup shows with results

[2018-08-27 07:13] anotheredward opened #203 "Navigating to a non-existant route results in a blank screen"
Repro:
1. Navigate to: `https://guides.emberjs.com/v1.12.0/nonsense/route/`
2. Note that the application doesn't render

Proposed solution:
1. Navigate to: `https://guides.emberjs.com/v1.12.0/nonsense/route/`
2. Be redirected to `https://guides.emberjs.com/v1.12.0/`
3. Application renders

If the version also happens to be invalid, we can redirect to `/release/` by default, this way at least the a

[2018-08-27 07:53] mansona commented on #203
Hi @anotheredward thanks for the issue 🎉

So the main thing that is missing here is that you **should** see the 404 page when you go to a `/nonsense/route`. That is a bug and it has been addressed with https://github.com/ember-learn/guides-app/pull/204 🎉

As for changing the behaviour, I think it would make the most sense to discuss that on the other issue https://github.com/ember-learn/guides-app

[2018-08-27 07:53] #203 closed

[2018-08-27 23:38] anotheredward commented on #132
@mansona I'll implement this, let's catch up soon and run through some options :).

I've been working on a related issue that could be made simpler by a more user-friendly 404 strategy:
https://github.com/ember-learn/guides-app/pull/200/files

[2018-09-03 16:09] villander opened #218 "Cannot find module 'sass'"
[code]

➜  flexbox-app git:(master) ✗ ember s
Could not require 'ember-cli-build.js': Cannot find module 'sass'

Stack Trace and Error Report: /var/folders/1c/5t4__m4j72zfnrchkthtmh8c0000gn/T/error.dump.10b05e33237a0aabe49205f7efb7b06c.log

[2018-09-03 16:10] #218 closed

[2018-09-03 16:10] villander commented on #218
ops, repo wrong. Sorry

[2018-10-04 20:48] mansona opened #249 "Move the "Edit Page" button outside of the <H1> at the top of a page."
**Please note**: that we need to move the "Edit Page" link out of the Header in the **markup** but the location should not change. This will need some work on CSS too 👍

This is for both Accessibility (i have a feeling that it might be read out by a screen reader) and for the search index. Currently when you index the Guides every top-level title will have the words "edit page" in them 😖

![image

[2018-10-04 20:53] mansona opened #250 "Implement Search Components and Styles directly into Guides App"
Fixed by #226

[2018-10-04 21:28] #250 closed

[2018-10-04 21:37] mansona opened #251 "Fix the styles that are broken when using showdown-section-groups"
We need to use showdown-section-groups to wrap each set of paragraphs between a Header tags in a <section>. This way we can create one index (possible search result) for each header in the content

[2018-10-05 07:07] mansona commented on #249
@RyanLilla yes that is exactly the file that needs to change 👍

[2018-10-06 13:39] jessica-jordan opened #260 "Design Request: Highlight Advanced Topics in the Guides"
Part of #259

We need a design idea for advanced topics in [the Ember Guides](https://guides.emberjs.com/release/)!

We believe that some of the topics in the Guides are more suitable for beginners while others are better suited for experienced users. We'd like to highlight advanced topics in a more distinct and visual way. Some ideas we had so far, was highlighting the respective section in a dif

[2018-10-08 08:47] mansona opened #261 "Run the full index manually & locally to make populate index without needing to fix the rendering issues with showdown-section-groups"

[2018-10-08 15:44] mansona opened #262 "[discussion] configure CI to run ember-cli-deploy so that algolia indexes are built for the latest version on every release"
This is a discussion because we have a few things that we will need to investigate before we actually try this

## Open issues
- [ ] if we run the indexing process twice are we guaranteed to override the existing indexes? or is there a risk that we will create orphaned indexes?
- [ ] is it "safe" to configure this to automatically run on merge to master? or should we configure it to run on tag?
-

[2018-10-08 15:45] mansona commented on #261
@sivakumar-kailasam that is a different part of the process https://github.com/ember-learn/guides-app/issues/262

This issue is just a manual "quick and dirty" that we should do once #252 #249 are merged 👍

[2018-10-08 16:04] mansona commented on #201
@rtablada while I agree that we can make a really sophisticated RUM style "real browser" test, I'm happy to have a simple acceptance test that can be run on Travis once a day 👍 in fact the once a day thing isn't really that important, if it's just part of our normal CI we should notice it pretty quickly if it breaks.

If we really want to get fancy we can add an independent "test" index so that we

[2018-10-09 18:09] mansona commented on #42
This is now fixed because we're using algolia directly and auto-import 👍

[2018-10-09 18:09] #42 closed

[2018-10-17 08:32] #249 closed

[2018-10-24 10:38] #251 closed

[2018-11-02 12:41] ppcano opened #298 "Should `RSVP` be removed from latest docs"
The [Why does Ember still use RSVP](https://discuss.emberjs.com/t/readers-questions-why-does-ember-still-use-rsvp/14736) discussion points out the `RSVP` is not needed anymore since the `3.4` version.

On the latest doc versions, there are a few mentions about `RSVP` that may be unnecessary. Removing them could help to avoid confusion and decrease the number of EmberJS APIs:

- [RSVP.Promise API](

[2018-11-02 15:13] locks commented on #298
I am confused, you want to remove the documentation to `RSVP` itself?

As for removing `RSVP`, IE11 does not have Promises according to [caniuse](https://caniuse.com/#feat=promises) so we might have to lean on the library a bit longer. I'd also say that `RSVP.hash` and `RSVP.all` are useful, and I'd analyze the cost once we have dead code elimination to have a better sense of its impact.

[2018-11-03 06:57] ppcano commented on #298
Yes, this was my suggestion; my reasoning was if `RSVP` is not needed anymore, why does it need to exposed? IMO, it's adding something more to learn without adding much benefit.

Good catch. I read the [discussion](https://discuss.emberjs.com/t/readers-questions-why-does-ember-still-use-rsvp/14736) and I thought it was totally safe to use. I have to try this [polyfill](https://github.com/stefanpen

[2018-11-05 15:59] Gaurav0 commented on #298
The biggest issue for me with removing RSVP documentation is that it is not really documented anywhere else besides the github README.md

[2018-11-06 10:03] tanasa-mircea opened #299 "Customizing a components element page is not found"
The 'Customizing a Component's Element' link from [this page](https://guides.emberjs.com/release/components/defining-a-component/) sends me [here](https://guides.emberjs.com/release/components/defining-a-component/customizing-a-components-element/) but the page is not found.

[2018-11-08 09:07] ondrejsevcik opened #301 "Document title is not updating"
It seems that document title is not updated when I go to from one section to another.

[2018-11-08 13:49] ppcano commented on #298
@Gaurav0

Agree, the `RSVP` API doc should be accessible, but I think the guides/examples/... could be updated to use Native Promise instead of `RSVP`.

@locks I have created a [ember-cli-promise-polyfill](https://github.com/loadimpact/ember-cli-promise-polyfill) addon that may be usefull in the future.

The addon will add the `polyfill` only if the browser Target need it, but it will not be fully

[2018-11-08 14:56] rwjblue commented on #298
This issue seems to be confusing a few different things at the moment:

* Should we embed the RSVP docs _into_ Ember's API docs?
* Should Ember continue to ship `Ember.RSVP`.

The second is **absolutely** out of scope for this repo, and is a good candidate for an RFC. I do think we will ultimately need a path forward (especially as IE11 usage continues to dwindle), and the only way to do that just

[2018-11-09 19:18] wycats commented on #298
@rwjblue There is, at least, one other question, which is whether we could remove incidental uses of RSVP from the guides.

There are some minor (fixable) reasons why we shouldn't do that now, and someone with the details should comment on them in detail.

[2018-11-12 10:40] mansona commented on #298
@rwjblue the tech that powers our Ember Guides is now available as an Ember Addon so it is really quite easy for us to stand up a new versioned documentation site with the same sort of structure. Let me know if that works for you and we can discuss getting it up and going 👍

[2018-11-16 16:33] sukima commented on #260
I know #234 already provided a boolean `isAdvanced` flag. I was thinking it might be more future proof to instead offer a _score_ or _level_. Where you could then distinguish more then just an on/off value. This could lead to things like _beginner_, _intermediate_, _advanced_, _guru_, etc.

Leading with the beginner/intermediate/advanced you could also make the UI reflect this easily with badge ic

[2018-12-22 17:57] cah-danmonroe commented on #299
The link works for me now (Chrome)

[2019-02-16 14:50] miguelcobain commented on #298
Just to add that I created a similar addon for polyfilling `window.Promise`.

It basically sets `window.Promise = Ember.RSVP.Promise`.
I did this to avoid shipping two promises implementations (some polyfill + RSVP).

https://github.com/miguelcobain/ember-cli-promises-polyfill

I think that ideally Ember would work with native Promises and users could polyfill that if needed.
Don't know how far we

[2019-02-27 17:47] houeland opened #399 "Documentation site is broken"
The documentation site throws unhandled javascript errors that break the page (because of 500s from the server?), making everything stop working and the menu and links do nothing. It's basically unusable.

Also https://guides.emberjs.com/release/tutorial, https://guides.emberjs.com/release/templates, and https://guides.emberjs.com/release/components are 404s.

[2019-03-27 00:38] anotheredward opened #400 "Package.json engine tag appears to be incorrect"
The current engine tag is:
[code]
Recommend we change it to  >= 10.* as it's the new LTS and appears to work well.

No version of node lower than 8 will successfully run `npm start`.

node = v8.15.1 appears to work.

When running node 7.10.1, I get another error message:
[code]

When using node 6.17 and attempting to run `ember serve` I get the following error message:
[code]

It's fair to assume

[2019-03-27 08:22] locks commented on #400
Thanks for pointing this out. Could you send a PR to update it?x

[2019-03-28 01:58] anotheredward commented on #400
Sure, here you go: https://github.com/ember-learn/guides-app/pull/402

[2019-03-28 07:56] mansona commented on #400
Hi folks 👋 I'm so sorry for not noticing this before you did the work @anotheredward but this repo is no longer active 🙈 I just haven't yet gone through everything and archived the repo

All development for the Ember specific templates for Guidemaker should be done over here: https://github.com/ember-learn/guidemaker-ember-template

[2019-03-28 07:56] #400 closed